<div style="padding: 30px; margin-right: auto; margin-left: auto">
    <div style="padding: 7px 0 5px">
        <div style="text-align: center; padding: 5px 0 5px">
            <svg class="logo" viewBox="0 0 128 128" width="64" height="64">
                <path fill="#42b883" d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z" />
                <path fill="#35495e" d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z" />
            </svg>
        </div>
        <div style="text-align:center;">
            <h1>{{ title }}</h1>
        </div>
        <p style="text-align:justify">{{ text }}</p>
        <br><br>
        <div style="text-align:center;">
            <a style="display:inline-block; padding:10px 15px; font-size:14px; line-height:1.57143; border-radius:50px; color:#003737; background:#0feb73; text-transform:uppercase; text-decoration:none;font-weight:bold" href="{{ linkUrl }}" target="_blank">{{ linkText }}</a>
        </div>
        <br><br>
        <hr style="border:0;height:0;border-top:1px solid rgba(0,0,0,0.2)">
        Best regards,<br><a href="http:w//plag.com.ua" target="_blank">EasyEat</a>
    </div>
</div>